/* Font belleza */
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
/* Font roboto */
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --font-roboto: "Roboto", sans-serif;
  --font-belleza: "Belleza", sans-serif;
  --primary-color: #fff;
  --secondary-color: #000;
  --sale-btn-txt-color: #d7cbb7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1344px;
}
.title-1 {
  font-size: 80px;
}
.title-2 {
  font-size: 56px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.signatur-btn > .read-btn {
  font-size: 13px;
  font-family: var(--font-roboto);
  text-transform: uppercase;
  letter-spacing: 3.2px;
  padding: 0 !important;
}
/*==================== Navbar ====================*/
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}
nav {
  padding: 0 !important;
}
.nav-container {
  max-width: 1844px !important;
}
.nav-logo {
  width: 65px;
  height: 35px;
}
.nav-logo > .navbar-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav-item {
  margin-right: 50px;
}
.nav-item:last-child {
  margin-right: 0 !important;
}
.nav-link {
  font-size: 18px;
  font-family: var(--font-roboto);
  text-transform: uppercase;
  letter-spacing: 3.9px;
  color: var(--primary-color) !important;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  height: 1px;
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.5s linear;
}
.nav-link:hover::after {
  width: 100% !important;
}
.nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  height: 1px;
  background-color: var(--primary-color);
  width: 100%;
}
.nav-link:hover,
.nav-link.active {
  color: var(--secondary-color) !important;
}
.nav-link.active:hover {
  color: var(--primary-color) !important;
}
.offcanvas {
  flex-direction: row !important;
}
/* .navbar-toggler-icon {
  color: var(--primary-color) !important;
} */

/*====================== Banner ================*/
.bnr-sec {
  /* padding: 150px 0 !important; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../assets/Navbar-&-Banner.png") no-repeat center/cover;
}
.bnr-cnt {
  text-align: center;
}
.bnr-cnt .title-1 {
  font-family: var(--font-belleza);
  letter-spacing: 2.55px;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 50px;
}
.discvr-btn {
  padding: 18px 37px !important;
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  border-radius: 0 !important;
  transition: 0.5s linear !important;
  overflow: hidden;
  margin: 0 auto !important;
}
.discvr-btn svg {
  margin-left: 10px !important;
  transition: 0.5s linear;
}
.discvr-btn:hover {
  transform: scaleX(1.05);
  font-size: 18px;
  color: var(--secondary-color) !important;
  background-color: var(--sale-btn-txt-color) !important;
}
.discvr-btn:hover svg {
  transform: translateX(62px);
}
.discvr-btn:hover svg path {
  fill: var(--secondary-color) !important;
}

/*=========================== Shades =====================*/
.shad-sec {
  padding: 185px 0 115px !important;
}
.shades-row {
  display: flex;
  align-items: center;
  margin: 0 calc(-24px / 3);
}
.shades-row > .col-lg-3,
.shades-row > .col-lg-6 {
  padding: 0 calc(24px / 3);
}
.signature {
  width: 199px;
  height: 99px;
  object-fit: cover;
}
.shad-sec .title-2 {
  max-width: 320px;
  font-family: var(--font-belleza);
  margin: 10px 0 !important;
}
.shad-sec p {
  max-width: 421px;
  font-size: 19px;
  line-height: calc(24 / 19);
  font-family: var(--font-roboto);
  margin-bottom: 40px;
}
.shad-fst-img {
  max-width: 312px;
  height: 489px;
}
.shad-fst-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shad-scnd-img {
  max-width: 312px;
  height: 328px;
}
.shad-scnd-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*========================== Sale ===================*/
/* .sale-sec {
  padding: 150px 0 !important;
  min-height: 60vh;
  background:
    url("../assets/sale-img-1.png") no-repeat left/50% 100%,
    url("../assets/sale-img-2.png") no-repeat right/50% 100% !important;
} */
/* .sale-cnt {
  display: flex;
  min-height: 40vh;
}

/* .left-sale-cnt,
.right-sale-cnt {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} */
.sale-left-img {
  width: 192px;
  height: 88px;
  margin: 0 auto 10px;
}
.sale-right-img {
  width: 172px;
  height: 88px;
  margin: 0 auto 10px;
}
.sale-left-img > img,
.sale-right-img > img {
  object-fit: contain;
  width: 100%;
  height: 1005;
}
.sale-sec .row {
  margin: 0 !important;
}
.sale-sec .row > * {
  padding: 0 !important;
}
/* .sale ,.discover {
  min-height: 554px;
 } */
.sale {
  padding: 150px 0;
  text-align: center !important;
  background: url("../assets/sale-img-1.png") no-repeat center/cover;
}
.discover {
  padding: 150px 0;
  text-align: center !important;
  background: url("../assets/sale-img-2.png") no-repeat center/cover;
}
.sale-btn > .sale-common-btn {
  padding: 18px 67.23px 18px 57px;
  background-color: var(--primary-color);
  color: var(--sale-btn-txt-color);
  font-family: var(--font-roboto);
  letter-spacing: 0.48px !important;
  text-transform: uppercase;
  border-radius: 0 !important;
  transition: 0.5s linear;
}
.sale-btn > .sale-common-btn:hover {
  transform: scaleX(1.05) !important;
  background-color: var(--sale-btn-txt-color) !important;
  color: var(--secondary-color) !important;
}
/*====================== Thinking ===================*/
.think-sec {
  padding: 150px 0;
}
.think-row {
  margin: 0 calc(-24px / 2);
  display: flex;
  align-items: center;
}
.think-row .col-lg-7,
.think-row .col-lg-5 {
  padding: 0 calc(24px / 2);
}
.think-signature {
  width: 116px;
  height: 55px;
  margin-bottom: 10px;
}
.think-signature > image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.think-left-cnt .title-2 {
  font-family: var(--font-belleza) !important;
  max-width: 655px !important;
  margin-bottom: 10px;
}
.think-left-cnt p {
  max-width: 508px;
  font-size: 18px;
  line-height: calc(28 / 19);
  font-family: var(--font-roboto);
  margin-bottom: 40px;
}
.think-right-cnt {
  max-width: 536px;
  height: 440px;
}
.think-right-cnt > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*=================== Play ====================*/
.play-sec {
  padding: 175px 0;
  background: url("../assets/play-sec-img.png") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.play-btn > .play-mid-btn {
  color: var(--primary-color);
  font-size: 14px;
  letter-spacing: 3.9px;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  transition: 0.5s linear;
  position: relative;
}
.play-mid-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  border: 1px solid var(--primary-color) !important;
  transform: translate(-50%, -50%);
}
.play-mid-btn:hover {
  font-size: 19px !important;
  color: var(--sale-btn-txt-color) !important;
  background-color: transparent !important;
  transform: scale(1.05);
}

/*========================= Product =======================*/
.product-sec {
  padding: 150px 0 100px;
}
.product-row {
  margin: 0 calc(-111px / 3);
}
.product-row .col-lg-4 {
  padding: 0 calc(-111px / 3);
}
.product-sec .product-signature {
  width: 116px;
  height: 55px;
  margin-bottom: 10px;
}
.product-signature > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-sec .title-2 {
  max-width: 592px;
  font-family: var(--font-belleza);
  margin-bottom: 20px;
}
.product-card {
  max-width: 366px;
  height: 397px;
  margin: 20px auto 20px;
}
.product-card-img {
  max-width: 366px;
  height: 366px;
  margin-bottom: 10px;
}
.product-card-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-card .product-info .product-name {
  font-size: 18px;
  font-family: var(--font-belleza);
}
.product-info p {
  font-family: var(--font-roboto);
}
.product-card:first-child,
.product-card:nth-child(2),
.product-card:nth-child(3) {
  margin-bottom: 100px;
}

/*=============== Made ====================*/
.made-sec {
  padding: 205px 0;
  background: url("../assets/made-sec.png") no-repeat center/cover;
}
.made-cnt {
  max-width: 760px;
  margin-left: auto;
  text-align: right;
}
.made-cnt > .made-signature {
  width: 116px;
  height: 55px;
  margin: 0 0 10px auto;
}
.made-signature > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.made-cnt .title-2 {
  max-width: 529px;
  font-family: var(--font-belleza);
  margin: 0 0 40px auto;
  text-align: end;
  color: var(--primary-color);
}
.made-cnt .made-btn > .discvr-btn {
  padding: 18px 67.23px 18px 57px;
  border: 1px solid var(--primary-color);
  border-radius: 0 !important;
  color: var(--primary-color);
  background-color: transparent !important;
  transition: 0.5s linear;
}
.made-btn > .discvr-btn:hover {
  color: var(--secondary-color) !important;
  background-color: var(--sale-btn-txt-color) !important;
  transform: scaleX(1.05);
}

/*=========================== Value =====================*/
.value-sec {
  padding: 150px 0;
}
.value-sec > .value-signature {
  width: 228px;
  height: 55px;
  margin-bottom: 10px;
}
.value-sec > .value-signature > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.value-sec .title-2 {
  max-width: 900px;
  font-family: var(--font-belleza);
  margin-bottom: 58px;
}
.value-row {
  margin: 0 calc(-24px / 2);
}
.value-row > .col-lg-6 {
  padding: 0 calc(24px / 2);
}
.value-left-card,
.value-right-card {
  display: flex;
}
.value-left-form .brand,
.value-left-form .original,
.value-left-form .exp,
.value-right-form .brand,
.value-right-form .original,
.value-right-form .exp {
  display: flex;
  justify-content: space-between;
}
.brand,
.exp,
.original {
  margin-bottom: 15px;
  /* position: relative; */
}
.brand-name,
.brand-value,
.original-title,
.original-value,
.exp-title,
.exp-value {
  font-size: 13px;
  letter-spacing: 3.2px;
  font-size: var(--font-roboto);
  text-transform: uppercase;
}
.brand-under-line,
.original-under-line,
.exp-under-line {
  margin-bottom: 47px;
}
.value-left-form .brand-under-line,
.value-right-form .brand-under-line {
  max-width: 505px;
}
.value-left-form .brand-under-line > img,
.value-right-form .brand-under-line > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.value-left-form .original-under-line {
  max-width: 582px;
}
.value-left-form .original-under-line > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.exp-under-line,
.value-right-form .original-under-line {
  max-width: 647px;
}
.exp-under-line > img,
.value-right-form .original-under-line > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*================== Footer ==================*/
.foot-sec {
  padding: 150px 0;
  background-color: var(--secondary-color);
}
.foot-row {
  margin: 0 calc(-87.67px / 4);
}
.foot-row > .col-lg-4,
.foot-row .col-lg-2,
.foot-row .col-lg-3 {
  padding: 0 calc(87.67px / 4);
}
.fst-col .foot-logo {
  margin-bottom: 24px !important;
}
.fst-col .foot-brand {
  width: 134px !important;
  height: 46px !important;
}
.foot-brand > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fst-col p {
  font-size: 18px;
  font-family: var(--font-roboto);
  color: var(--primary-color);
  margin-bottom: 24px;
}
.fst-col .social {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
.fst-col .social p {
  font-size: 16px;
  font-family: var(--font-roboto);
  letter-spacing: 3.2px;
  text-transform: uppercase;
}
.scnd-col > .scnd-col-title {
  font-size: 24px;
  font-family: var(--font-belleza);
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 18px;
}
.scnd-col p {
  font-size: 19px;
  color: var(--primary-color);
  font-family: var(--font-roboto);
  line-height: calc(36 / 19);
}
.third-col > .third-col-title {
  font-size: 24px;
  font-family: var(--font-belleza);
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 18px;
}
.third-col p {
  font-size: 19px;
  font-family: var(--font-roboto);
  color: var(--primary-color);
  line-height: calc(36 / 19);
}
.fourth-col > .fourth-col-title {
  font-size: 24px;
  font-family: var(--font-belleza);
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 18px;
}
.fourth-col .fourth-col-sub-title {
  font-size: 19px;
  color: var(--primary-color);
  font-family: var(--font-roboto);
  position: relative;
}
.fourth-col-sub-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 1px;
  background-color: var(--primary-color);
  width: 100%;
}
.fourth-col p {
  font-size: 15px;
  font-family: var(--font-roboto);
  color: var(--primary-color);
  margin-top: 26px;
}
.foo-btn {
  margin-top: 18px;
}
.foot-btn > .sub-btn {
  padding: 18px 67.23px 18px 57px !important  ;
  background-color: transparent;
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 0;
  font-family: var(--font-roboto);
  letter-spacing: 0.48px;
  text-transform: uppercase;
  transition: 0.5s linear;
}
.foot-btn > .sub-btn:hover {
  transform: scaleX(1.05);
  background-color: var(--primary-color);
  color: var(--secondary-color) !important;
}

/*=========== Media =============*/
@media screen and (max-width: 576px) {
  /* banner cnt start */
  .bnr-cnt .title-1 {
    font-size: 36px !important;
  }
  /* Banner cnt end */

  /* font size  start*/
  .title-2 {
    font-size: 28px !important;
  }
  /* font-size end */

  /* sale sec start */
  /* .sale-sec {
    background-image: url("../assets/sale-img-2.png");
    background-size: cover;
    background-position: center;
  }
  .sale-cnt {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  } */
  /* sale sec end */
}
@media screen and (max-width: 768px) {
  /* sale sec start */
  /* .sale-sec {
    background-image: url("../assets/sale-img-1.png");
    background-size: cover;
    background-position: center;
  }
  .sale-cnt {
    flex-direction: row;
  } */
  /* sale sec end */

  /* font size start */
  .title-1 {
    font-size: 54px !important;
  }
  .title-2 {
    font-size: 40px !important;
  }
  /* font size end */
}
@media screen and (max-width: 992px) {
  /* á¹‡avbar header start */
  .offcanvas {
    flex-direction: column !important;
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(20px);
    padding-top: 69.78px;
  }
  .nav-item {
    margin: 0 0 20px 0 !important;
    text-align: center;
  }
  .nav-btn {
    margin: 0 auto !important ;
    text-align: center !important;
  }
  .close-btn {
    position: absolute;
    top: 35px;
    left: 15px;
    /* height: 20px; */
    /* width: 20px; */
    /* background: var(--primary-color); */
    /* display: flex; */
    align-items: center;
    background: none;
    border: none;
    padding: 0 20px;
  }
  .close-btn > span {
    position: absolute;
    display: inline-block;
    height: 2px;
    /* width: 30px; */
    background: var(--primary-color);
    top: -4px;
    left: 0;
    right: 0;
    transform: rotate(45deg) translate(5px);
  }
  .close-btn::after {
    content: "";
    height: 2px;
    /* width: 30px; */
    background: var(--primary-color);
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    transform: rotate(-45deg) translate(6px);
  }
  /* navbar header end */

  /* shades sontent start */
  .shades-cnt {
    text-align: center !important;
  }
  .shades-cnt .title-2,
  .shades-cnt p {
    margin: 0 auto !important;
  }
  /* shade content end */

  /* Thinking cnt start */
  .think-left-cnt {
    text-align: center !important;
  }
  .think-left-cnt .think-signature,
  .think-left-cnt p,
  .think-left-cnt .title-2 {
    margin: 0 auto;
  }
  .think-right-cnt {
    margin: 0 auto;
  }
  /* Thinking cnt end */

  /* product content start */
  .product-signature,
  .title-2 {
    text-align: center;
    margin: 0 auto;
  }
  /* product content end */

  /* Made cnt start */
  .made-cnt,
  .made-cnt .title-2 {
    text-align: center;
  }
  .made-cnt .made-signature,
  .made-cnt .title-2 {
    margin: 0 auto;
  }
  /* Made cnt end */

  /* value signature start */
  .value-signature {
    /* margin: 0 auto; */
    text-align: center;
  }
  /* value signature end */
}
/* .sale-sec {
    background-image: url("../assets/sale-img-1.png");
    background-size: cover;
    background-position: center;
  }
  .sale-cnt {
    flex-direction: row;
  } */
/* } */
/* @media (min-width: 1200px) { 
  .fst-col .social {
    gap: 5px;
  }
 } */
